In [41]:
from warnings import filterwarnings
filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context("talk")

from glob import glob

from sklearn.impute import KNNImputer

# import Dataset

In [28]:
car_files = sorted(glob("dataset/data*.csv"))
car_files

['dataset\\data1.csv',
 'dataset\\data10.csv',
 'dataset\\data11.csv',
 'dataset\\data2.csv',
 'dataset\\data3.csv',
 'dataset\\data4.csv',
 'dataset\\data5.csv',
 'dataset\\data6.csv',
 'dataset\\data7.csv',
 'dataset\\data8.csv',
 'dataset\\data9.csv']

In [35]:
df = pd.concat((pd.read_csv(file) for file in car_files), ignore_index=True).drop(columns="tax(Â£)")

# fill missing value

In [42]:
knnim = KNNImputer(n_neighbors=15)

In [51]:
df[["tax", "mpg"]] = knnim.fit_transform(df[["tax", "mpg"]])

In [53]:
df.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

# save ke csv

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108540 entries, 0 to 108539
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   model         108540 non-null  object
 1   year          108540 non-null  int64
 2   price         108540 non-null  int64
 3   transmission  108540 non-null  object
 4   mileage       108540 non-null  int64
 5   fuelType      108540 non-null  object
 6   tax           108540 non-null  float64
 7   mpg           108540 non-null  float64
 8   engineSize    108540 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 7.5+ MB

In [56]:
df.head()

  model  year  price transmission  mileage fuelType    tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150.0  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20.0  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30.0  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145.0  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145.0  49.6         1.0

In [57]:
df.to_csv("dataset/dataCarUsed.csv", index=False)